[Settings]
Priority=Init,DefaultGateway,ByVMType,ByDesktopType,ByLaptopType,ByServerType,Default
Properties=MyCustomProperty;BIOSVersion;SMBIOSBIOSVersion;ProductVersion,ComputerSerialNumber,LType,CType

[Init]
ComputerSerialNumber=#Right("%SerialNumber%",2)#

[DefaultGateway]
192.168.1.1=Branch
192.168.233.2=Main

[Branch]
LocationName=AMK
LType=AMK
MachineObjectOU=OU=IT,OU=AMK,DC=CEH,DC=com

[Main]
LocationName=JE
LType=JE
MachineObjectOU=OU=IT,OU=JE,DC=CEH,DC=com

[ByVMType]
Subsection=VM-%IsVM%

[ByDesktopType] 
Subsection=Desktop-%IsDesktop%

[ByLaptopType] 
Subsection=Laptop-%IsLaptop%

[ByServerType] 
Subsection=Server-%IsServer%

[VM-True]
TaskSequenceID=W10P
CType=VM

[Desktop-True]
TaskSequenceID=W10P
CType=DT

[Laptop-True]
CType=LT

[Server-True]
CType=SV

[Default]
SLShare = \\192.168.233.131\Logs
OSInstall=Y
TimeZoneName=Singapore Standard Time
OSDComputerName=%LType%-%CType%-%ComputerSerialNumber%

JoinDomain=ceh.com
DomainAdmin=administrator
DomainAdminDomain=ceh
DomainAdminPassword=Password123!
DomainErrorRecovery=AUTO

SkipAdminPassword=YES
SkipApplications=YES
SkipBDDWelcome=YES
SkipBitLocker=YES
SkipComputerBackup=YES
SkipComputerName=YES
SkipDeploymentType=YES
SkipDomainMembership=YES
SkipUserData=YES
SkipFinalSummary=YES
SkipLocaleSelection=YES
SkipPackageDisplay=YES
SkipProductKey=YES
SkipRoles=YES
SkipSummary=YES
SkipTaskSequence=YES
SkipTimeZone=YES
SkipCapture=YES

HideShell=YES
DeploymentType=NEWCOMPUTER
FinishAction=REBOOT
